.header {
  height: 35vh;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #191a43 0%, #442d85 100%);
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: calc( (100vw - 480px)/(1280 - 480) * (56 - 38) + 38px);
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: fadeInAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  white-space: pre-line;
}

.desc {
  font-size: calc( (100vw - 480px)/(1280 - 480) * (26 - 22) + 22px);
  opacity: 0;
  transform: translateY(20px);
  animation-duration: 1s;
  animation-delay: 1s;
  animation-name: fadeInAnimation;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color: rgba(255, 255, 255, .7);
  white-space: pre-line;
  text-transform: capitalize;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wave{
    position: absolute;
    width: 100%;
    bottom: -15vw;
}
